.fondo-negro {
	-fx-background-color: #222;
}
.fondo-gris {
	-fx-background-color:  #333;
}
.fondo-azul {
	-fx-background-color:  #00acc1;
}
.side-button {
	-fx-background-radius: 0;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #555;
	-fx-padding: 0 0 0 70px;
}
.side-button:hover {
	-fx-background-color:  #00acc1;
}
.textfield {
	-fx-background-radius: 0;
}
.btn {
	-fx-background-color:  #00acc1;
	-fx-background-radius: 0;
	-fx-padding: 10px 20px;
}
.scroll-pane  {
	-fx-background-color: #222;
}
.scroll-pane > .viewport  {
	-fx-background-color: #222;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:#333;
}
.increment-button, .decrement-button {
    -fx-background-color: #333;
    -fx-border-color: #333;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #333;
    -fx-border-color: #333;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #222;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: #333;
}