.fondo-negro {
	-fx-background-color: #222;
}
.fondo-gris {
	-fx-background-color:  #333;
}
.fondo-azul {
	-fx-background-color:  #00acc1;
}
.side-button {
	-fx-background-radius: 0;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #555;
	-fx-padding: 0 0 0 70px;
}
.side-button:hover {
	-fx-background-color: #00acc1;
}
.textfield {
	-fx-background-radius: 0;
}
.btn {
	-fx-background-color:  #00acc1;
	-fx-background-radius: 2px;
	-fx-padding: 10px 20px;
}

/* Scroll pane */
.scroll-pane  {
	-fx-background-color: #222;
}
.scroll-pane > .viewport  {
	-fx-background-color: #222;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:#333;
}
.increment-button, .decrement-button {
    -fx-background-color: #333;
    -fx-border-color: #333;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #333;
    -fx-border-color: #333;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #222;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: #333;
}

/* Dialog pane */
.dialog-pane {
  -fx-border-width:0px;
  -fx-background-color: #333;
  -fx-padding: 1.5em;
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color: #333;
  -fx-text-fill: #fff;
}

.dialog-pane > .content.label {
   -fx-padding: 1em 1em 0 1em;
   -fx-background-color: #333;
   -fx-text-fill: #fff;
   -fx-font-size: 15.0px;
}

/**Costumization of Buttons**/
.dialog-pane .button {
   -fx-background-color: #00acc1;
   -fx-text-fill: #fff;
   -fx-wrap-text: true;
   -fx-cursor: hand;
   -fx-background-radius: 2px;
   -fx-padding: 10px 20px;
 }

.dialog-pane .button:hover {     
  -fx-background-color: #00acc1;
  -fx-text-fill: #fff;
 }

 .dialog-pane:no-header .graphic-container {
 	-fx-background-color: #333;
    -fx-padding: 1.5em 0 0 0.833em; /* 10px 0px 0px 10px */
}

/* Snackbar */
.jfx-snackbar-content {
    -fx-background-color: #00acc1;
    -fx-width: 100%;
    -fx-font-size: 15.0px;
    -fx-padding: 20px;
}